.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: black;
    text-decoration: none;
}
.container{
    height: 500px;
    width: 500px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    

}